ffmpeg==1.4
ffmpeg_python==0.2.0
getkey==0.6.5
matplotlib==3.5.3
numpy==1.24.4
openai==1.54.1
openai_whisper==20231117
opencv_python==4.9.0.80
opencv_python_headless==4.10.0.84
Pillow==11.0.0
PyAudio==0.2.14
pykinect_azure==0.0.4
pytest==8.2.2
PyYAML==6.0.2
PyYAML==6.0.2
qi==3.1.5
Requests==2.32.3
SAM_2==1.0
setuptools==60.2.0
SpeechRecognition==3.10.3
supervision==0.24.0
torch==2.4.0
transformers==4.44.0
ultralytics==8.1.47
